.bg {
  background: rgba(196, 196, 196, 0.25);
}

.bgContent {
  background: #e5e5e5 !important;
}

.wbg {
  width: 95% !important;
}

.wb {
  width: 55px;
}

.fs16 {
  font-size: 16px;
}

.fs24 {
  font-size: 20px;
}

.fs14 {
  font-size: 14px;
}

.fs10 {
  font-size: 10px;
}

.warp {
  flex-wrap: wrap !important;
}

.wc {
  height: 240px;
  width: 290px;
  left: 0px;
  top: 0px;
  border-radius: 5px;
}

.si {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rs {
  resize: none;
}

.bd {
  border: none !important;
}
